* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* el alto seria la suma de los altos de los hijos */
    height: 100vh; /* altura fija de la ventana del navegador */
      font-family: Space Grotesk, sans-serif;
}

header{
    background-color: black;
    /* flex-basis: 5%; relativ*/
    height: 8vh; /* absoluto */
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
header div#menu{
    color: white;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header #menu i{
    color: white;
    font-size: 30px

}
header figure{
    background-color: rosybrown;
    color: white;
    /* flex-basis: 20%; */
    height: 100%; 
}
header figure img{
    height: 100%;
}
header form{
    flex-basis: 25%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
header form input{
   background-color:antiquewhite;
    padding: 6px;
    border-radius: 15px;
    font-size: 20px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav{
    /* border: 1px solid white; */
    flex-basis: 60%;
    display: flex;
    flex-direction: row; /* ejej principal */
    flex-wrap: nowrap;
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */
}
header nav a{
    display: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid 1px black;
}
header nav a:hover{
    color: rgb(218, 253, 111)
}

header #carrito{
    /* border: 1px solid white; */
    color: white;
    flex-basis: 20%; 
    display: flex;
    flex-direction: row; /* ejej principal */
    flex-wrap: nowrap;   
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */
}
header #carrito i{
    font-size: 25px;
    color: green;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



/* Nav bar */
nav {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 3vh;
  margin: 1%;
}

nav a {
  display: flex;
  font-size: 8px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in-out;
}


nav a:hover {
  color: rgb(142, 84, 196);
}

nav a:first-child {
  display: flex;
  font-size: 12pt;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 100%;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
}

main nav i{
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  color: rgb(132, 0, 255);
}

nav a i:first-child {
  color: black;
}

/** Contenido */

/* main div#container{
  display: flex;
  width: 100;
} */
main div#product-container{
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
  margin-left: 200px;
}

main div#product-container figure.aside{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main div#product-container figure.aside img{
  margin: 10px;
  width: 8vh;
  height: 8vh;
}

main div#product-container figure.Foto img{
  width: 70vh;
  height: auto;
}

main div#product-container div#product-right-column {
  margin-left: 20px;
  height: 65vh;
  display: flex;
  flex-direction: column;
}

main div#product-container div .NameItem{
    font-size: 25px;
}

main div#product-container div .Valoraciones{
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: row;

} 
main div#product-container div .Valoraciones{
    text-align: center;
    font-size: 12px;
} 
main div#product-container div .Valoraciones a{
text-decoration: none;
color: gray;
} 
main div#product-container .ContainerPrecios {
    display: flex;
    gap: 40px;                 
    width: 100%;               
    margin: 30px 0px 0px 0px;
}
main div#product-container .ContainerPrecios .descuento {
    background-color: rgb(255, 0, 179);
    border: 1px solid rgb(255, 0, 191);
    color: white;
    border-radius: 50%;
    font-size: 14px;
    padding: 10px;
}
main div#product-container .ContainerPrecios .precio {
    color: var(--color-dark);
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

main div#product-container .PrecioRecomendado  {
    color: #3e3f42;
    font-size: 16px;
    font-weight: 400;
    margin-top: 2px;
    line-height: 1.3;
    margin-top: 30px;
    margin-bottom: 15px;
}
main div#product-container .PrecioRecomendado .gris {
    color: #c0c3cc;
}

main div#product-container .Envio  {
    border: 1px solid black;
    display: flex;
    width: 50vh;
    border-radius: 15px;
    background-color: #9ca1b1;
}
main div#product-container .Envio #truck  {
text-decoration: none;
    border: 0px solid black; 
    background-color: rgb(255, 0, 200);
    /* elemento en linea pero con propiedades de bloque */
    display: inline-block;
    margin-top: 50px;
    width: 50px;
    height: 50px;
    border-radius:50px;
    margin-right: 7px;; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

      main div#product-container .Envio .bot {
        margin-top: 50px;
}
main div#product-container .Envio .pink {
color: rgb(255, 0, 170);
}

main div#product-container li{
    margin-top: 15px;
}
main div#product-container .Comprar {
display: flex;
margin-top: 20px;
height: 10vh;
width: 50vh;
}

main div#product-container .Comprar input {
    width: 88px;
    height: 40px;
    border: 1px solid #B0B3BD;
    box-shadow: none;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 18px;
    margin-right: 30px;
}


main div#product-container .Comprar .BotonComprar{
    border: 1px solid black;
    height: 90%;
    margin-top: 4px;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 50%;
}
main div#product-container .Comprar a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 30px;
    text-align: center;
    margin-left:70px ;
    width: 30%;
}

main div#product-container .Comprar .BotonComprar:hover{
    text-decoration: none;
    color: rgb(0, 255, 55);
    background-color: black;
    text-align: center;
    font-size: 30px;
}
main div#product-container .Comprar a:hover{
    text-decoration: none;
    color: rgb(0, 255, 55);
    background-color: black;
    text-align: center;
    font-size: 30px;
}